/*  This documnet deliberately doesn't follow BEM.
    It provides general styles for the whole website.
    There is a link to it in _Layout bundle => thus 
    it is included in each tab with a layout.
*/
body {
    position: relative;
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.clearfix::after{
    content:"";
    display:table;
    clear:both;
}


