@Styles.Render("~/Content/Test/Index")
@Scripts.Render("~/Content/blocks/typewritter")
@{
    ViewBag.Title = "Quick Test";
}

@model TEXT

<link href="https://fonts.googleapis.com/css?family=Sarpanch" rel="stylesheet">
<main class="main-wrapper">
    <input type="hidden" id="text" value="@Model.TextForTest">
    <div class="main-wrapper__segment main-wrapper__for-timer">
        <div class="timer" id="timer">1:00</div>
        <div class="typewritter typewritter__test typewritter_margin_top_big typewritter_height_big">
        <p class="typewritter__test-text" id="test-text" tabindex="0">
            @foreach(char c in Model.TextForTest.ToCharArray())
            {<!--
                --><span>@c</span><!--
            -->}
             
        </div>
        <div class="btn-group">
            <button class="button button_size_large button_position_centered" onclick="startTest()">
                <span class="button__text button-large__text">Start</span>
            </button>
            <button class="button button_size_large button_position_centered button-danger" disabled>
                <span class="button__text button-large__text">Quit</span>
            </button>
        </div>
    </div>
</main>


