.main-wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
}

.main-wrapper__segment{
    padding-bottom:25px;
    padding-top:25px;
}

.main-wrapper__segment:not(:last-of-type) {
    border-bottom: 3px dashed green;
}

.main-wrapper__description {
}

.main-wrapper__header {
    margin-top:0;
}

.main-wrapper__for-timer{
    position:relative;
}

