.main-wrapper {
    width: 80%;
    margin:auto;
    text-align:center;
}

.main-wrapper__segment:not(:last-of-type){
    border-bottom:3px dashed green;
}

.main-wrapper__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

