
.page-footer {
    background: linear-gradient(to bottom, white, black);
    margin: 0;
    padding: 0;
    padding-top: 15px;
    width: 100%;
    color: white;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.page-footer__farewell-wrapper {
    color: white;
}

.page-footer__contacts {
    width:300px;
    float:right;
}
