/*Doesn't correspond to BEM methodology, 
    because it also includes styles for elements from another namespace,
    which still do fit in this file as they have a similar purpose in the program
*/
/*TODO: implement BEM metodology here*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top:15px;
}

.mySlides {
    display: none;
}

.mySlides__name{
    font-weight:bold;
}

.mySlides__photo{
    border-radius:50%;
}

.mySlides__text{
    margin-bottom:0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}