/*Card is used to create a special article on the page
In this project it is mostly used on home page (carousel ...)
*/
.card {
    display: inline-block;
    width: 250px;
    margin-right: 30px;
    border-radius:5px;
    padding: 10px 15px;
    background:linear-gradient(to bottom, white, #d0d3d8);
}


.card__header {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
}

.card__text{

}

.card__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
}

.card_size_large {
    width: 500px;
    height:260px;
    overflow:hidden;
}