@Styles.Render("~/Content/Home/Index")
@Styles.Render("~/Content/blocks/main-wrapper")
@Styles.Render("~/Content/blocks/typewritter")
@Styles.Render("~/Content/blocks/button")
@Styles.Render("~/Content/blocks/card");
<body>
    <main class="main-wrapper">
        <div class="main-wrapper__segment">
            <div class="typewritter typewritter_margin_top">
                <h1 class="typewritter__text">Type well with TypeWell!</h1>
            </div>        
            <button class="button button_size_large button_position_centered">
                <span class="button__text button-large__text">Start quick test</span>
            </button>
        </div>
        <div class="main-wrapper__segment">
            <div class="main-wrapper__description">
                <h2 class="main-wrapper__header">Why using TypeWell?</h2>
                <div class="card">
                    <h3 class="card__header">
                        Conveniently
                    </h3>
                    <p class="card__text"></p>
                </div>
                <div class="card">
                    <h3 class="card__header">
                        Fast
                    </h3>
                    <p class="card__text"></p>
                </div>
                <div class="card">
                    <h3 class="card__header">
                        Usefull
                    </h3>
                    <p class="card__text"></p>
                </div>
            </div>
        </div>
    </main>
</body>