@Styles.Render("~/Content/Home/Index")

<body>
    <main class="main-wrapper">
        <section class="main-wrapper__segment">
            <div class="typewritter typewritter_margin_top">
                <h1 class="typewritter__text typewritter__text_animation_on">Type well with TypeWell!</h1>
            </div>
            <button class="button button_size_large button_position_centered" onclick="location.href='@Url.Action("Index", "Test")'">
                <span class="button__text button-large__text">Start quick test</span>
            </button>
        </section>
        <section class="main-wrapper__segment">
            <div class="main-wrapper__description">
                <h2 class="main-wrapper__header">Why using TypeWell?</h2>
                <div class="card__wrapper">
                    <article class="card card_background_convenient">
                        <h3 class="card__header">
                            Convenient
                        </h3>
                        <p class="card__text">Quick typing skills assessment are at hand 24/7</p>
                    </article>
                    <article class="card card_background_fast">
                        <h3 class="card__header">
                            Fast
                        </h3>
                        <p class="card__text">You'll get the assessment of your typing skills in a few clicks</p>
                    </article>
                    <article class="card card_background_useful">
                        <h3 class="card__header">
                            Useful
                        </h3>
                        <p class="card__text">It's always useful to know the real level of your typing skills</p>
                    </article>
                </div>
            </div>
        </section>
        <section class="main-wrapper__segment">
            <div class="slideshow-container card card_size_large">
                <div class="mySlides fade">
                    <img class="mySlides__photo" src="~/Content/Images/man-1.jpg">
                    <p class="mySlides__name">Jimm, businesman:</p>
                    <blockquote class="mySlides__quote">I always use TypeWell! to test the typing skills of my new employees. It helps to get my projects done quickly.</blockquote>
                </div>

                <div class="mySlides fade">
                    <img class="mySlides__photo" src="~/Content/Images/man-2.jpg">
                    <p class="mySlides__name">Chan, student:</p>
                    <blockquote class="mySlides__quote">TypeWell! helped me to improve my typing skills. Now it really helps me, because I type twice as fast as I used to.</blockquote>
                </div>

                <div class="mySlides fade">
                    <img class="mySlides__photo" src="~/Content/Images/man-3.jpg">
                    <p class="mySlides__name">Anna, office worker:</p>
                    <blockquote class="mySlides__quote">I got employed really easily, when my recruiter saw my results in TypeWell! Now they use this service to test other employees' typing skills.</blockquote>
                </div>
                <!--TODO: Add arrows and dots to switch between slides-->

            </div>
        </section>
    </main>
    @Scripts.RenderFormat(@"<script src=""{0}"" async></script>", "~/Content/blocks/mySlidesJs")
</body>