@Styles.Render("~/Content/Home/Index")
@Styles.Render("~/Content/blocks/main-wrapper")
@Styles.Render("~/Content/blocks/typewritter")
<body>
    <main class="main-wrapper">
        <div class="typewritter typewritter_margin_top">
            <h1 class="typewritter__text">Type well with TypeWell!</h1>
        </div>
    </main>
</body>