@Styles.Render("~/Content/Home/Index")
@Styles.Render("~/Content/blocks/main-wrapper")
<body>
    <main class="main-wrapper">
        <div class="typewriter">
            <h1>Type well with TypeWell!</h1>
        </div>
    </main>
</body>